@import url("https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Cormorant:ital,wght@0,300..700;1,300..700&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
  background-image: url("./assets/navbar-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.crem {
  background-image: url("./assets/section-about-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.crem1 {
  background-image: url("./assets/grunge-dark-temp.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.crem2 {
  background-image: url("./assets/grunge-dark-rev-temp.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.read:hover .readicon {
  transition: all 0.3s ease-out;
  transform: translateX(10px);
}
.tehno::selection {
  text-shadow: 0 0 0 #ff3d3d00;
}
.but:hover .buticon {
  transition: all 0.3s ease-out;
  transform: translateX(10px);
}
.rota {
  animation: spin 15s linear infinite;
}
.rota1 {
  animation: spin1 40s linear infinite;
}
.addcart {
  transition: all 0.5s ease-in-out;
}
.adbut {
  transition: all 0.5s ease-in-out;
  opacity: 0;
}

.card:hover .addcart {
  transform: translateY(0%);
}
.card:hover .adbut {
  opacity: 1;
}

.misson {
  background: url("./assets/cocoa-02.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.pattern {
  background: url("./assets/pattern-05.png");
  background-repeat: repeat;
  background-size: contain;
}
.swiper-button-next,
.swiper-button-prev {
  color: #c19f5f;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #ffffff;
}
.galcard {
  transition: all 3s ease-in-out;
}
.galcard img {
  transition: all 0.3s ease-in-out;
}
.galcard .galbox {
  transition: all 0.3s ease-in-out;
}
.galcard:hover img {
  transform: scale(1.4);
}
.galcard:hover .galbox {
  transform: rotate(0deg) scale(1.4);
}
.footer {
  background-image: url("./assets/footer-bg-2.png");
  background-repeat: no-repeat;
  background-size: cover;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
